<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Pokemon</title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <h1>Create A New Pokemon</h1>
    <form method="POST" action="/pokemon">
        <p>Name:</p>
        <input name="name" placeholder="Insert New Pokemon"/>
       <p><input type="submit" value="Create Pokemon"/></p> 
    </form>
</body>
</html>